body{
    background: rgba(126, 133, 136, 0.35);
}

.wrap{
    width: 80%;
    padding: 10px;
    border: 1px solid rgba(142, 134, 134, 0.38);
    border-radius: 5px;
    max-width: 900px;
    margin: auto;
    background: white;
}