.form{
    width: 100%;
    margin: 10px 0;
}

.form input, .form textarea {
    width: 100%;
    color: #222;
    padding: 7px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 4px;
}
.form__username, .form__username:hover{
    border:1px solid #2b8072;
}
.form__username:focus{
    outline-color: #2b8072;
}
.form__msg, .form__msg:hover {
    border-color: rgba(123, 73, 128, 0.63);
}

.form__msg:focus{
    outline-color: rgba(123, 73, 128, 0.63);
}

.form__submit {
    background: rgba(126, 133, 136, 0.74);
    border: none;
    border-bottom: 3px solid rgba(126, 133, 136, 0.91);
    color: white;
    text-transform: uppercase;
}