form.form__content(autocomplete="off")
    input.form__username(type='text', name='username', placeholder='Введите имя', required='')
    textarea.form__msg(name='message', rows='3', placeholder='Введите сообщение...', required='')
    input.form__submit(type='submit', value='>')